
@{
    ViewBag.Title = "Manager Settings";
}

    <!-- HEADER -->
    <div class="section">
        <h1 id="header">Manager Settings</h1>
    </div>

    <!-- MAIN CONTENT -->
    <div>

        <!-- MAIN ARRANGEMENTS CONTAINER -->
        <div class="row">
            <a href="~/Manager/AddArrangement">
                <div class="col span-1-of-3 manager-container-item">
                    <img src="~/Images/addArrangement.png" />
                    <h2>Add Arrangement</h2>
                </div>
            </a>

            <a href="~/Manager/ManageArrangements">
                <div class="col span-1-of-3 manager-container-item">
                    <img src="~/Images/manageArrangement.png" />
                    <h2>Manage Arrangements</h2>
                </div>
            </a>

            <a href="~/Manager/ManageAccommodations">
                <div class="col span-1-of-3 manager-container-item">
                    <img src="~/Images/accommodation.png" />
                    <h2>Manage Accommodations And Units</h2>
                </div>
            </a>
        </div>

        <div class="row">
            <a href="~/Manager/AddAccommodation">
                <div class="col span-1-of-3 manager-container-item">
                    <img src="~/Images/addAccommodation.png" />
                    <h2>Add accommodation</h2>
                </div>
            </a>

            <a href="~/Manager/Reservations">
                <div class="col span-1-of-3 manager-container-item">
                    <img src="~/Images/reservation.png" />
                    <h2>Reservations</h2>
                </div>
            </a>

            <a href="~/Manager/Comments">
                <div class="col span-1-of-3 manager-container-item">
                    <img src="~/Images/comment.png" />
                    <h2>Comments</h2>
                </div>
            </a>
        </div>
    </div>