
@{
    ViewBag.Title = "AddManager";
}

    <div class="section">
        <h1 id="header">Add Manager</h1>
    </div>

    <div class="register-container">
        <form action="~/Admin/AddManager" method="post">
            <table>
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Lastname</td>
                    <td><input type="text" name="lastname"></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <select style="width:100%;" name="gender">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <td>Date of birth</td>
                    <td><input style="width:97%;" type="date" name="dateOfBirth"></td>
                </tr>
                @if (ViewBag.emptyError != null)
                {
                    <tr>
                        <td colspan="2" class="error_message">@ViewBag.emptyError</td>
                    </tr>
                }
                @if (ViewBag.usernameExistsError != null)
                {
                    <tr>
                        <td colspan="2" class="error_message">@ViewBag.usernameExistsError</td>
                    </tr>
                }
                @if (ViewBag.emailError != null)
                {
                    <tr>
                        <td colspan="2" class="error_message">@ViewBag.emailError</td>
                    </tr>
                }
                <tr>
                    <td colspan="2"><input style="width:100%;" type="submit" value="Add Manager" /></td>
                </tr>
            </table>
        </form>
    </div>