
@{
    ViewBag.Title = "Admin Settings";
}

    <!-- HEADER -->
    <div class="section">
        <h1 id="header">Admin Settings</h1>
    </div>

    <!-- MAIN CONTENT -->
    <div>

        <!-- MAIN ARRANGEMENTS CONTAINER -->
        <div class="row">
            <a href="~/Admin/AddManager">
                <div class="col span-1-of-3 admin-container-item">
                    <img src="~/Images/manager.png"/>
                    <h2>Add new manager</h2>
                </div>
            </a>

            <a href="~/Admin/AllUsers">
                <div class="col span-1-of-3 admin-container-item">
                    <img src="~/Images/users.png"/>
                    <h2>See all users</h2>
                </div>
            </a>

            <a href="~/Admin/SuspiciousUsers">
                <div class="col span-1-of-3 admin-container-item">
                    <img src="~/Images/sus.png"/>
                    <h2>See suspicious users</h2>
                </div>
            </a>
        </div>
    </div>